<h1>You have some cents. You need them counted up. We can do that.</h1>
<br>
<h2>Enter number of cents. In cents. Not dollars. No decimals.</h2>
<form action="/result">
  <div class="form-group">
    <input id="cents" name="cents" class="form-control" type="text">
  </div>
<button type="submit" class="btn-block">CHANGE YOSELF</button>
</form>
